<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - SQL Server 2019 Examples</title>

    <link rel="stylesheet" href="~/css/vis.min.css" />

    <script src="~/js/vis.min.js"></script>

</head>
<body>
    @RenderBody()
 
    @RenderSection("Scripts", required: false)
</body>
</html>
