@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        color: #d3d3d3;
        font: 12pt arial;
        background-color: #ffffff;
    }

    #mynetwork {
        width: 800px;
        height: 800px;
        border: 1px solid #444444;
        background-color: #dddddd;
    }
</style>


<div id="mynetwork"></div>

<script type="text/javascript">
    
    fetch('api/graph/schema')
        .then((response) => {
            response.json().then((data) => {
                // If you want to Debug the Data:
                console.log(data);

                // Now display the graph using vis.js:
                var options = {};

                var container = document.getElementById('mynetwork');
                
                new vis.Network(container, data, options);
            });
        })
        .catch((err) => {
            alert("Fetching Graph Schema Failed: " + err);
        });
</script>